---
import Coffee1 from "./img/coffee1.jpg";
import Coffee2 from "./img/coffee2.jpg";
import Coffee3 from "./img/coffee3.jpg";

const images = [Coffee1, Coffee2, Coffee3];
import ImageContainer from "../../components/ImageContainer.astro";
---

<div class="slider-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {
        images.map((image) => (
          <div class="swiper-slide">
            <ImageContainer
              item={image}
              alt="slider image"
              className="slider-img"
            />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<style is:inline>
  @import "../../../node_modules/swiper/swiper-bundle.min.css";
  .slider-container {
    height: 75vh;
    background-color: #1e1e1e;

    @media (max-width: 900px) {
      height: auto;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  import Swiper from "swiper/bundle";
  var swiper = new Swiper(".mySwiper", {
    effect: "fade",
    fadeEffect: {
      crossFade: true,
    },
  });
</script>
