---
import Menu from "../components/Menu.astro";
import Globalstyles from "../components/Globalstyles.astro";
import "../../node_modules/normalize.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/lenis@1.1.19/dist/lenis.css"
    />

    <Globalstyles />
  </head>
  <body>
    <Menu />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style></style>

<script>
  import Lenis from "lenis";

  const lenis = new Lenis({ autoRaf: true });

  //get scroll value
  lenis.on("scroll", (e) => {});
</script>
